/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    max-width: 1440px;
    margin: 0;
    padding: 0;
    }
:root{
    --title-color: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --description-color: #534C64;
    }
.global-width{
    width: 80%;
    margin: 50px auto;
    }
.global-title{
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3rem;
    margin: 2rem 0;
    }
.global-description{
    color: var(--description-color);
    font-weight: 400;
    line-height: 1.8rem;
    }
.global-artical{
    width: 45%;
    }
.global-img-rapper{
    width: 40%;
    }
.primary-btn{
    color: #FFF;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 48px;
    border: 0;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin-top: 1rem;
    }
/* -----------Desktop styles---------- */
/* Nav Style */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.nav-logo-section{
    display: flex;
    align-items: center;
    gap: 1rem;
    }
.nav-logo-section > h1{
    font-size: 45px;
    font-weight: 700;
    }
.nav-logo-section span{
    color:#FF42A5;
    }
.nav-manu{
    display: flex;
    align-items: center;
    gap: 2rem;
    }
.nav-manu li ,.nav-manu a{
    text-decoration: none;
    list-style: none;
    color: #3C354F;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    }
.nav-follow-btn{
    color: #3C354F;;
    font-weight: 500;
    border-radius: 8px;
    border: 0;
    padding: 15px 24px;
    }
.nav-follow-btn > i{
    padding-left: 5px;
    }

/* Play Style */
#play-section{
    background: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 50%;
    }
.play-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    }
.play-title{
    color: #0B0223;
    font-size: 2.7rem;
    font-weight: 600;
    }
.play-section-title{
    color: var(--title-color);
    font-size: 5rem;
    font-weight: 800;
    }
.play-go-btn{
    color: #FFF;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 48px;
    border: 0;
    background-color: #4EC5F7;
    margin-top: 1rem;
    margin-left: 1rem;
    }
.play-container img{
    width: 100%;
}
/* Gamer Style */
#gamer-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 2rem 0;
    }
.gamer-container{
    flex-direction: row-reverse;
    }
.gamer-artical{
    text-align: end;
    }
.purpose-style{
    color: #534C64;
    font-weight: 500;
    margin-top: 1rem;
    line-height: 1.5rem;
    }

/* Online Game Section */
#Online-game-section{
    width: 80%;
    margin: 5rem auto;
    text-align: center;
    }
.online-game-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
    }
    /* experiment */
.online-img-wrapper{
    position: relative;
    }
.online-wrapper-content{
    width: 100%;
    height: 82%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    border-radius: 10px;
}
.online-wrapper-content:hover{
    opacity: 1;
}
    /* ------ */
.online-game-container > div{
    width: 24%;
    }
.online-game-container-img{
    width: 100%;
    }
/* .online-game-container-img:hover{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    } */

/* download and Install section */
#downloadInstall-section{

    }
#download-bg-img{
    background: url(../images/Rectangle\ 55.png) no-repeat;
    background-size: 100%;
    }
.download-img{
    transform: scale(0.4) translateX(-600px) translateY(380px);
    }

/* install style */
.install-section{
    flex-direction: row-reverse;
    margin-top: 5rem;
    }
#install-bg-img{
    background: url(../images/Rectangle\ 67.png) no-repeat;
    background-size: 100%;
    }
.install-img{
    transform: scale(0.4) translateX(600px) translateY(380px);
    }

/* Lists of Game style */
#list-game-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    }
.list-game-container{
    width: 80%;
    margin: 5rem auto;
    padding: 3rem 0;
    }
.list-of-game{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    }
.list-of-game > div p{
    display: inline-block;
    position: relative;
    top: -20px;
    padding-left: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    }
.list-of-game > div :hover{
    background-color: #FFF;
    border-radius: 50px;
    color: #FF42A5;
    }
/* Footer section */
footer{
    background-color: #0B0223;
    padding: 3rem 0;
    }
.footer-container{
    width: 80%;
    margin: 0 auto;
    }
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    }
.footer-logo > h1{
    color: white;
    font-size: 45px;
    font-weight: 700;
    margin-left: 5px;
}
.footer-list{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    }
.footer-list > a{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    }
.brands-logo{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    }
.terms-conditions{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    }
.terms-conditions > a{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    }
.copy-right{
    margin-top: 2rem;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    }










/* Mobile View */
@media screen and (max-width: 576px) {
    .global-artical{
        width: 90%;
        }
    .global-img-rapper{
        width: 80%;
        }
    .nav-logo-section{
        margin-bottom: 1rem;
        }
    .nav-container,
    .nav-manu,
    .online-game-container{
        flex-direction: column;
        }
    #play-section,
    #gamer-section{
        background: none;
        }
    .play-container{
        flex-direction: column-reverse;
        }
    .gamer-artical{
        text-align: center;
        }
    .online-game-container > div{
        width: 100%;
        }
    .install-section,
    .download-section{
        flex-direction: column;
        align-items: center;
        text-align: center;
        }
    #download-bg-img,#install-bg-img{
        background-size: 90%;
        }
    .download-img{
        transform: scale(0.4) translateX(-350px) translateY(300px);
        }
    .install-img{
        transform: scale(0.4) translateX(300px) translateY(280px);
        }
    .online-wrapper-content{
        height: 86%;
    }
    .footer-list{
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        /* gap: 1rem; */
        }
}